.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 33px;
  font-weight: 900;
  color: #fff;
  background: linear-gradient(to bottom, #8cf0c1, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logout {
  padding: 5px;
  border: none;
  background-color: #53c28b;
  color: white;
  cursor: pointer;
  border-radius: 3px;
}
